<div id="app">
    <header-bar></header-bar>
    <div id="editor-terminal">
        <div id="editor">
            <editor v-model="content" @init="editorInit" lang="html" theme="chrome"></editor>
        </div>
        <xterm></xterm>
    </div>
</div>

<%= javascript_pack_tag 'xterm_vue' %>